body{
    background-image: url("back.jpg");
    background-attachment: fixed;
}
.set{
    margin: 10% auto;
    margin-left: 23vw;
    margin-top: -5vh;
    margin-right: 17vw;
}
#title{
    color: white;
   text-align: center;
    margin-top: 10vh;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 0 0 5px #00f7ff, 0 0 15px #14e7f6, 0 0 20px #14e7f6, 0 0 40px #14e7f6, 0 0 60px #08f4cc, 0 0 10px#14e7f6 , 0 0 98px #0af9da;
    color: #d9d8d1;
  font-family: neon;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 1s infinite;
}
.drum{
    height: 100px;
    width: 100px;
    border: 6px solid purple;
    background-color: lavenderblush;
    box-shadow: 2px 2px 4px plum;
    color: black;
    font-size: 60px;
    font-weight: bolder;
    margin-right: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: transform 0.1s;
}
.drum:active{
    box-shadow: 0px 3px 4px 0px rgb(4, 232, 253);
    opacity: 0.5;
    transform: scale(0.9);
}
.drum:hover {
    box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #fff inset;
}
.jui{
    text-align: center;
    color: white;
    font-family: cursive;
    font-weight: bold;
}
.pressed{
    box-shadow: 0px 3px 4px 0px rgb(4, 232, 253);
    opacity: 0.5;
    transform: scale(0.9);
}
