body{
    background-color: rgb(9, 10, 53);
}
.set{
    margin: 10% auto;
    margin-left: 23vw;
    margin-top: -5vh;
    margin-right: 17vw;
}
#title{
    color: white;
    font-family: arial;
   text-align: center;
    margin-top: 10vh;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 4px 4px 4px purple;
}
.drum{
    height: 100px;
    width: 100px;
    border: 6px solid purple;
    background-color: lavenderblush;
    box-shadow: 2px 2px 4px plum;
    color: black;
    font-size: 60px;
    font-weight: bolder;
    margin-right: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.jui{
    text-align: center;
    color: white;
    font-family: cursive;
    font-weight: bold;
}
.pressed{
    box-shadow: 0px 3px 4px 0px bisque;
    opacity: 0.5;
}
